{% load static %}
<!doctype html>

<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="margin: 0px; background-color: rgba(170,144,231,0.7);">
<div class="nav_bar" style="background-color: #442296">
    <a href="/"><img src='/static/img/logo.png' class="img_logo" alt="logo"></a>
    {% block content1 %}{% endblock %}
    <!-- <button type="submit" class="button_register">Регистрация</button> -->
</div>
{% block content %}{% endblock %}
</body>
</html>